@font-face{
    font-family: "minhaFonte";
    src: url("../fonts/BebasNeue-Regular.otf");
}
*{
    text-align: center;
}

#chamada{
    margin-bottom: 70px;
    text-align: justify;
    padding: 40px;
    background-color:#EFEFEF;
}

#chamada h1{
    text-align: center;
    font-family: minhaFonte;
    color: rgb(63, 63, 63);
    font-size: 70px; 
}

#chamada .separador{
    margin: auto;
    width: 80%;
    border-color: dimgray;
    }

/*Tabela Listar Chamadas */
#listarChamadas{
    margin-left: 30px;
    width: 93%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
        
}
.coluna1{
    text-align: center;
    font: 20px bold; 
    font-family: minhaFonte;
    width: 15%;
    
}
.coluna2{
    font: 20px bold; 
    font-family: minhaFonte;
    text-align: center;

}
.coluna3{

    text-align: center;
    width: 30%;
}
.colunaPresenca{
    font: 20px bold; 
    font-family: minhaFonte;
}
#listarChamadas{
    margin-left: 30px;
    width: 1000px;
    height: 250px;
    overflow: auto;
    height: 357px;
}
#btnInferior{
    background: #333333;
    width: 200px;
    margin: auto 80px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    border-radius: 10px;
    font-family: minhaFonte;
    border: none;
    border-style: none;
}
#btnInferior:hover{
    background-color: dimgray;
}