.celulaCargo{
	margin: auto;
	text-align: center;
}
.celulaColaborador{
	margin: auto;
	text-align: center;
}
.celulaAlterar{
	margin: auto;
	text-align: center;
}
.Alterar{
	margin: auto;
	text-align: center;
}
.Materia{
	margin: auto;
	text-align: center;
}
.Nome{
	margin: auto;
	text-align: center;
}
.Excluir{
	margin: auto;
	text-align: center;
}
.Matricula{
	margin: auto;
	text-align: center;
}

