#titulo {
	font-family: minhaFonte;
	color: rgb(63, 63, 63);
	font-size: 70px;
}

.linha {
	border-color: rgb(63, 63, 63);
	width: 800px;
}

.btn {
	font-family: minhaFonte;
	width: 150px;
	height: 100px;
	display: block;
	margin: 60px 58px;
}

#subtitulo {
	color: #2B3C51;
	font-size: 30px;
	padding: 18px;
}

.image {
	padding: 10px 10px;
	opacity: 0.3;
}

.btn-green {
	background: rgb(146, 204, 243);
}

.btn-green:hover {
	background: rgb(181, 223, 252);
}

#conteudoTurmas {
	float: right;
	width: 80%;
	padding-bottom: 33px;
	background-color: #EFEFEF;
}

#painelTurmas {
	margin-bottom: 70px;
	text-align: center;
	padding: 40px;
	background-color: #EFEFEF;
}